apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    tad.gitops.set/image: ".spec.template.spec.containers[0].image"
    tad.gitops.get/image: ".spec.template.spec.containers[0].image"
    tad.gitops.set/replicas: ".spec.replicas"
    tad.gitops.get/replicas: ".spec.replicas"
  name: backend-tests-go-gxuvpjjz
spec:
  replicas: 1
  template:
    spec:
      containers:
        - image: quay.io/rhtap_qe/backend-tests-go-gxuvpjjz:6e0279fb0f3d62aca734e27a36c1217b752faed7@sha256:8d7a83f751270617d78bc094ad4dcf8131b95c9734a2692dbd99d23f16665ad6
          name: container-image
